<%= form_with model: [:admin, @badge_rule], local: true do |form| %>
  <div class="form-group">
  
    <%= render 'shared/errors', resource: @badge_rule %>

    <p>
      <%= form.label :rule %><br>
      <%= form.collection_select :rule, BadgeRule.list, :to_s, :to_s, prompt: true %> 
    </p>

    <p>
      <%= form.label :description %><br>
      <%= form.text_field :description, class: "form-control" %>
    </p><br>

    <p><%= form.submit %></p>
  </div>
<% end %>
