<div class="row justify-content-center mt-3">
  <div  class="col col-md-9">

    <h1><%= t('.header', title: @question.test.title) %></h1>

    <p>
      <%= @question.body %>
    </p>

    <h2><%= t('.answers') %></h2>

    <%= link_to t('.new_answer'), new_admin_question_answer_path(@question), class: 'btn btn-sm btn-outline-primary' %>

    <ol class="list-group-item mt-3">
      <%= render @question.answers %>   
    </ol>

    <%= link_to t('.edit'), edit_admin_question_path(@question), class: 'btn btn-sm btn-primary' %> 
    <%= link_to t('.back'), admin_test_path(@question.test), class: 'btn btn-sm btn-primary' %>

  </div>
</div>
