<h1>Вопрос теста «<%= @question.test.title %>» :</h1>

<p>
  <%= @question.body %>
</p>

<h2>Ответы:</h2>

<%= link_to 'Новый ответ', new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>   
</ol>

<%= link_to 'Edit', edit_admin_question_path(@question) %> |
<%= link_to 'Back', admin_test_path(@question.test) %>
