<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'shared/header' %>
      
    <% if user_signed_in? %>
      <p class="nav user">
        Добро пожаловать! <b><%= current_user.first_name %></b> Guru |
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <%= render 'shared/flash' %>

    <%= yield %>
    <br>
    <br>
    <%= render 'shared/footer' %>
  </body>
</html>
